<div class="navbar">

    <div class="nav-links">

        <a href="{% url 'dashboard' %}">
            Dashboard
        </a>

        <a href="{% url 'upload' %}">
            Upload
        </a>

        <a href="{% url 'gallery' %}">
            Gallery
        </a>

        {% if user.is_staff %}

        <a href="{% url 'admin_dashboard' %}">
            Admin Dashboard
        </a>

        {% endif %}

    </div>

    {% if user.is_authenticated %}

    <span>
        Welcome {{ user.username }}
    </span>

    <form
        action="{% url 'logout' %}"
        method="post"
    >

        {% csrf_token %}

        <button class="logout-btn">
            Logout
        </button>

    </form>

    {% endif %}

</div>