{% extends "uploads/base.html" %}


{% block title %}

My Gallery

{% endblock %}


{% block content %}


<div class="page-header">

    <h1>

        My Gallery

    </h1>

    <p>

        Search and manage your images

    </p>

</div>


<div class="filter-container">


    <form method="GET">


        <div class="search-box">


            <input

                type="text"

                name="search"

                placeholder="Search by filename..."

                value="{{ search }}"

            >


            <button
                type="submit"
                class="button"
            >

                Search

            </button>


        </div>


        <div class="filter-row">


            <select name="file_type">


                <option value="">

                    All Types

                </option>


                <option
                    value="JPEG"

                    {% if file_type == "JPEG" %}

                    selected

                    {% endif %}

                >

                    JPEG

                </option>


                <option
                    value="PNG"

                    {% if file_type == "PNG" %}

                    selected

                    {% endif %}

                >

                    PNG

                </option>


                <option
                    value="WEBP"

                    {% if file_type == "WEBP" %}

                    selected

                    {% endif %}

                >

                    WEBP

                </option>


            </select>


            <select name="date">


                <option value="">

                    All Dates

                </option>


                <option
                    value="today"

                    {% if date_filter == "today" %}

                    selected

                    {% endif %}

                >

                    Last 24 Hours

                </option>


                <option
                    value="week"

                    {% if date_filter == "week" %}

                    selected

                    {% endif %}

                >

                    Last 7 Days

                </option>


                <option
                    value="month"

                    {% if date_filter == "month" %}

                    selected

                    {% endif %}

                >

                    Last 30 Days

                </option>


            </select>


            <select name="sort">


                <option
                    value="newest"

                    {% if sort == "newest" %}

                    selected

                    {% endif %}

                >

                    Newest

                </option>


                <option
                    value="oldest"

                    {% if sort == "oldest" %}

                    selected

                    {% endif %}

                >

                    Oldest

                </option>


                <option
                    value="name"

                    {% if sort == "name" %}

                    selected

                    {% endif %}

                >

                    Name

                </option>


                <option
                    value="size"

                    {% if sort == "size" %}

                    selected

                    {% endif %}

                >

                    Largest

                </option>


            </select>


            <a
                href="{% url 'gallery' %}"
                class="clear-button"
            >

                Clear

            </a>


        </div>


    </form>


</div>


<div class="image-grid">


    {% for image in images %}


    <div class="image-card">


        {% if image.thumbnail %}

            <img
                src="{{ image.thumbnail.url }}"
                alt="{{ image.original_filename }}"
            >

        {% else %}

            <img
                src="{{ image.image.url }}"
                alt="{{ image.original_filename }}"
            >

        {% endif %}


        <div class="image-info">


            <h3>

                {{ image.original_filename }}

            </h3>


            <p>

                Type:
                {{ image.file_type }}

            </p>


            <p>

                Size:
                {{ image.compressed_size|filesizeformat }}

            </p>


            <p>

                Dimensions:
                {{ image.width }}
                ×
                {{ image.height }}

            </p>


            {% if image.original_size > image.compressed_size %}

            <p class="compression-info">

                Saved
                {{ image.compression_percentage }}%

            </p>

            {% endif %}


            <div class="card-actions">


                <a
                    href="{{ image.image.url }}"
                    download
                    class="download-button"
                >

                    Download

                </a>


                <form
                    method="post"
                    action="{% url 'delete_image' image.id %}"
                    onsubmit="
                    return confirm(
                    'Are you sure you want to delete this image?'
                    );
                    "
                >

                    {% csrf_token %}

                    <button
                        type="submit"
                        class="delete-button"
                    >

                        Delete

                    </button>

                </form>


            </div>


        </div>


    </div>


    {% empty %}


    <div class="empty-state">

        <h3>

            No images found

        </h3>

        <p>

            Try changing your search or filters.

        </p>

    </div>


    {% endfor %}


</div>


{% endblock %}