{% extends "uploads/base.html" %}


{% block title %}

Upload Successful

{% endblock %}


{% block content %}


<div class="success-container">


    <div class="success-icon">

        ✓

    </div>


    <h1>

        Upload Successful!

    </h1>


    <p>

        Your image has been uploaded,

        validated and compressed successfully.

    </p>


    <div class="success-actions">


        <a
            href="{% url 'gallery' %}"
            class="button"
        >

            View Gallery

        </a>


        <a
            href="{% url 'upload' %}"
            class="button secondary-button"
        >

            Upload Another

        </a>


    </div>


</div>


{% endblock %}